@model IEnumerable<Kolekcja.Models.Element>

@{
    ViewBag.Title = "Zbiór";
}

<h2>Zbiór</h2>

<p>
    @using (Html.BeginForm("Index","Elementy",FormMethod.Get))
    {
        <p>
            Wybierz gatunek: @Html.DropDownList("elementGatunek", null, "Wszystkie", new { @class = "my_drop_downlist" })
            | Podaj tytuł: @Html.TextBox("SearchString", null, new { @class = "my_text_box" })

    <input type="submit" value="Wyszukaj" class="btn btn-primary btn-sm"/></p>
    }
    @Html.ActionLink("Dodaj nową pozycję", "Create")


</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Tytul)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Autor)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RokWydania)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Gatunek)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Rodzaj)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Tytul)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Autor)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RokWydania)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Gatunek)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Rodzaj)
        </td>
        <td>
            @Html.ActionLink("Edytuj", "Edit", new { id=item.ID }, new {@class = "btn btn-primary btn-xs"}) |
            @Html.ActionLink("Szczegóły", "Details", new { id = item.ID }, new { @class = "btn btn-info btn-xs" }) |
            @Html.ActionLink("Usuń pozycję", "Delete", new { id = item.ID }, new { @class = "btn btn-danger btn-xs" })
        </td>
    </tr>
}

</table>
